{% extends 'base.html.twig' %}

{% block content %}
    {% set taskCounts = {} %}
	{% for day in last7days %}
		{% set tasks = task_list|filter(task => task.status == 'Finished' and task.enddate|date('Y-m-d') == day) %}
		{% set taskCounts = taskCounts|merge([tasks|length]) %}
	{% endfor %}
	<div id="data" class="d-none" data-task-counts="{{ taskCounts|json_encode|raw }}" ></div>
	<div class="row gy-4">
		<div class="col-lg-8 mb-4  mini-card">
			<div class="card h-100">
				<div class="d-flex align-items-end row">
					<div class="col-sm-7">
						<div class="card-body text-center text-md-start">
							<h5 class="card-title text-primary">
								Welcom Back {{ app.user.firstName }}!
							</h5>
							<p class="mb-4">
								Empowering Success, Guiding Progress<br/>
								This is Your Central Hub for Insights and Analyse
								                    Data
							</p>
						</div>
					</div>
					<div class="col-sm-5 text-center text-sm-left position-absolute" style="right: 10px;bottom: 0;">
						<div class="card-body pb-0 px-0 px-md-4">
							<img src="{{ asset('assets/img/illustrations/man-with-laptop-light.png') }}" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png" class="d-none d-sm-block"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-2 text-center  col-md-4 col-6 mini-card">
			<div class="card h-100">
				<div class="card-body">
					<i class="bx bx-comment-dots text-dark mb-1 fs-2"></i>
					<span class="fw-semibold d-block mb-1">Unread<br>
						Messages</span>
					<h3 class="card-title mb-2">{{ messages|filter(m => m.status == 0)|length }}</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-2 text-center  col-md-4 col-6 mini-card">
			<div class="card h-100">
				<div class="card-body">
					<i class="bx bxs-user text-info mb-1 fs-2"></i>
					<span class="fw-semibold d-block mb-1">Registred
						<br/>
						Members</span>
					<h3 class="card-title text-info mb-2">{{ member_list|length }}</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-2 text-center  col-md-4 col-6 mini-card">
			<div class="card h-100">
				<div class="card-body">
					<i class="bx bx-question-mark text-dark mb-1 fs-2"></i>
					<span class="fw-semibold d-block mb-1">Number of<br>
						Projects</span>
					<h3 class="card-title mb-2">{{ project_list|length }}</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-2 text-center col-md-4 col-6 mini-card">
			<div class="card h-100">
				<div class="card-body">
					<i class="bx bx-check-square text-success mb-1 fs-2"></i>
					<span class="fw-semibold d-block mb-1">Finished
						<br/>
						Projects</span>
					<h3 class="card-title text-success mb-2">{{ project_list|filter(p => p.status == 'Finished')|length }}</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-2 text-center col-md-4 col-6 mini-card">
			<div class="card h-100">
				<div class="card-body">
					<i class="bx bxs-stopwatch text-warning mb-1 fs-2"></i>
					<span class="fw-semibold d-block mb-1">Pending / Not<br> Started
						Projects</span>
					<h3 class="card-title text-warning mb-2">{{ project_list|filter(p => p.status == 'Pending' or p.status == 'Not Started Yet')|length }}</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-2 text-center col-md-4 col-6  mini-card">
			<div class="card h-100">
				<div class="card-body">
					<i class="bx bx bx-timer text-primary mb-1 fs-2"></i>
					<span class="fw-semibold d-block mb-1">Projects In
						<br/>
						Progress</span>
					<h3 class="card-title text-primary mb-2">{{ project_list|filter(p => p.status == 'In Progress')|length }}</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12">
			<div class="card h-100">
				<h5 class="card-header">Top 3 members</h5>
				<div class="card-body">
					<div class="row d-none d-lg-flex">
						{% for member in top_3_member%}
							<div class="col d-flex justify-content-center">
								<div class="badge shadow">
									<img src="{{ asset(member.object.imagePath != null ? member.object.imagePath : 'assets/img/avatars/no-avatar.png') }}" class="avatar" alt="" srcset="">
									<div class="tooltip">{{ member.object.firstName ~ ' ' ~ member.object.lastName}},
										<span class="text-success">{{ member.nmbrOfTask }}</span>
										Tasks</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="table-responsive rounded-2 d-block d-lg-none border">
						<table class="table text-center">
							<thead>
								<tr>
									<th>#</th>
									<th>Full Name</th>
									<th>Number Of Tasks</th>
								</tr>
							</thead>
							<tbody>
								{% for member in top_3_member %}
									<tr>
										<td>
											<img src="{{ asset(member.object.imagePath != null ? member.object.imagePath : 'assets/img/avatars/no-avatar.png') }}" class="avatar" alt="" srcset="">
										</td>
										<td>
											{{ member.object.firstName ~ ' ' ~ member.object.lastName}}
										</td>
										<td>
											<span class="text-success">{{ member.nmbrOfTask }}</span>
											Tasks</div>
										</td>
									</tr>	
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-8">
			<div class="card h-100">
				<h5 class="card-header m-0 me-2 pb-3">Tasks Finished last 7 days</h5>
				<div class="card-body">
					<canvas id="tasksChart" height="250" width="350"></canvas>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="card h-100">
				<h5 class="card-header m-0 me-2">Projects status</h5>
				<div class="card shadow-none mx-4 rounded-0 table-responsive" style="max-height: 250px;">
					<div class="card-body px-0">
						<table class="table border text-center">
							<thead>
								<tr>
									<th class="fw-bold">Project</th>
									<th class="fw-bold">Status</th>
								</tr>
							</thead>
							<tbody>
								{% for project in project_list %}
                                    <tr>
                                        <td>{{ project.title }}</td>
                                        <td>
                                            <span class="badge 
                                                {% if project.status == 'Not Started Yet' %}
                                                    bg-label-dark
                                                {% elseif project.status == 'Pending' %}
                                                    bg-label-info
                                                {% elseif project.status == 'In Progress' %}
                                                    bg-label-primary
                                                {% elseif project.status == 'Finished' %}
                                                    bg-label-success
                                                {% endif %}
                                                me-1">
                                                {{ project.status }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="{{ asset('assets/js/chart.js') }}"></script>
    {% block javascript %}
        <script>
            //set active page
            $('#dashboard').toggleClass('active');
        </script>
        <script>
            var chartOptions = {
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                y: {
                    beginAtZero: true,
					ticks:{
						stepSize: 1
					}
                },
                },
            };
            // Get the canvas element
            var ctx = $("#tasksChart")[0].getContext('2d');
            
            // Define the data for the chart
            var data = $('#data').data('task-counts');
            var weekdays ={{last7days|json_encode|raw}};
            
            // Create the chart
            var tasksChart = new Chart(ctx, {
                type: 'bar',
                data: {
                labels: weekdays, // Set the weekdays as the x-axis labels
                datasets: [
                    {
                    label: 'Tasks',
                    data: data, // Set the data for the bar heights
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Set the bar background color
                    borderColor: 'rgba(75, 192, 192, 1)', // Set the bar border color
                    borderWidth: 1, // Set the bar border width
                    },
                ],
                },
                options: chartOptions
            });
    </script>
    {% endblock %}
{% endblock %}
